@{
    ViewBag.Title = "GST MART";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
   

     <!-- Bootstrap -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/lessframe.css" rel="stylesheet">
    <style>
        .validation {
            color: red !important;
        }
        #searchtable tr td:last-child {
            width: inherit;
        }
            #searchtable tr td:last-child  ul.action-button{width:100%;}
                #searchtable tr td:last-child ul.action-button li a {
                    background-color: green !important;
                    border: medium none !important;
                    border-radius: 3px;
                    color: white;
                    display: block;
                    font-family: "OpenSansBold";
                    font-size: 11.5px;
                    margin-right: 10px;
                    padding: 5px 6px;
                    text-align: center;
                    width: 95px;
                }

        .navbar-form.navbar-left.pull-right {
            margin: 0;
        }

        .navbar-form .form-group {
            background: none repeat scroll 0 0 #fff;
            border-radius: 0;
            display: inline-block;
            height: 55px;
            margin-bottom: 0;
            margin-top: 0;
            vertical-align: middle;
        }
        
        /*.active {
            background: url("/content"/images/hover.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
            color: #f8faff;
        }*/

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        function HideMessage() {
            $("#ErrorMessages").hide(); 
            $("#SuccessMessages").hide();
        }
    </script>
    
</head>
<body onclick="HideMessage();">
    <div id="wrapper" class="clearfix">
        <!--[header]-->
        <div id="header">
            <div class="container-fluid">
                <div id="logo">
                    <a href="#">
                        <img src="/Content/images/logo.png" alt="logo">
                    </a>
                </div>
                <div class="admin-login">
                    <div class="admin-wel">
                        <ul>
                            <li>Welcome <a href="#">@Session["AdminUserName"].ToString()</a> </li>
                            <li><strong>@Session["LoginTime"].ToString()</strong></li>
                        </ul>
                        <!--<span>Company ID </span> -->
                    </div>
                    @*  <div class="login">  </div>*@

                    <div class="login">

                        <a href="javascript:void(0)" onclick="Logout();">Logout <i class="fa fa-power-off"></i></a>
                    </div>
                </div>
            </div>

            <!--[nav-bar]-->
            <nav class="navbar navbar-default" role="navigation">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>

                <div class="collapse navbar-collapse bs-navbar-collapse pull-left">


                    <ul class="nav navbar-nav">
                        <li><a href="/Admin/CreateUser"><i class="glyphicon glyphicon-home"></i>Dashboard</a></li>
                        @*<li><a href="~/Reports/ReportViewers/13-TVO_SGGR.aspx"><i class="fa fa-line-chart"></i>Reports</a></li>*@
                        <li><a href="/Admin/IpAddress"><i class="fa fa-cog"></i>Settings</a></li>
                    </ul>
                </div>

                <form class="navbar-form navbar-left  pull-right" role="search">
                    <div class="form-group">

                        <ol>
                            @*<p id="validateCompaney" style="color: red"></p>*@
                            <li>

                                @RenderSection("CompanyList", false)
                                @*@{
                            GST_DB.GSTMARTEntities gstmart = new GST_DB.GSTMARTEntities();
                            List<SelectListItem> List = new List<SelectListItem>();
                            var Data = (from p in gstmart.Companies select new { p.CompanyID }).ToList();
                            List.Add(new SelectListItem { Text = "Select Company", Value = "0" });
                            foreach (var item in Data)
                            {
                                List.Add(new SelectListItem { Text = item.CompanyID, Value = item.CompanyID });
                            }

                            @Html.DropDownList("CompneyList", List as List<SelectListItem>);
                        }*@
                            </li>

                            @*<li>
                        <input type="text" class="form-control" placeholder="Search">
                    </li>*@
                        </ol>
                    </div>
                    @*<a href="#" class="grup"><span class="glyphicon glyphicon-align-justify"></span></a>*@
                </form>
                </div>
            
            <!--[/nav-bar]-->
        </div>
        <!--[/header]-->
        <!--[]-->
        <div class="data-feed">
            @RenderSection("Submenu",false)

            @*<ul class="nav nav-tabs">

                <li>@Html.ActionLink("Ip Address", "IpAddress", "Admin")</li>
                <li>@Html.ActionLink("File Location", "AdminPath", "Admin")</li>
                <li><a href="/Admin/CreateUser">Create User</a></li>
                <li><a href="/Admin/CreateLDAPUser">Create LDAP User</a></li>
                <li><a href="/Admin/TAXCODE">TAX CODE</a></li>
                <li><a href="/Admin/SaveSchedualr">Save scheduler</a></li>
                <li><a href="/Admin/CurrencyExchange">Currency Exchange</a></li>
                <li><a href="/Admin/AuditLog">Audit Log</a></li>
                <li><a href="/Admin/Configuration">Configuration</a></li>
               
            </ul>*@
        </div>

      
        @RenderBody()

        <div id="footer">
            <p>copyright 2013. All Rights reserved.</p>
        </div>
  

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  
    <script>
        $('#myTab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })

        function Logout() {
            $.ajax({
                url: "/Admin/Logout",
                type: "POST",
                success: function (response) {
                    window.location.href = "/Admin/Login";
                },
                error: function (error) {
                    alert("error");
                }
            });
        }

     

        //To add Active class in Anchor tag
        var url = window.location;
        // Will only work if string in href matches with location
        $('ul.nav a[href="' + url + '"]').parent().addClass('active');

        // Will also work for relative and absolute hrefs
        $('ul.nav a').filter(function () {
            return this.href == url;
        }).parent().addClass('active');
        
        
        
   

    </script>

   


</body>
</html>