

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<style type="text/css">
    #example {
        table-layout: fixed;
    }

</style>

@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "AuditLog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Submenu
{

    @Html.Partial("~/Views/_Partial/_Setting.cshtml")
}

<div class="container-fluid">
    <div id="ErrorMessages" class="ErrorMessage">@TempData["ErrorMessage"]</div><div id="SuccessMessages" class="SuccessMessage">@TempData["Message"]</div>
    <div class="container-fluid">
        <div class="tab-content">
            <div class="tab-pane active tab-conentmain" id="home">
                <div class="data-table">
                    <div class="container-fluid">
                        <div class="w-bg wd_input">
                            <table id="example" class="table table-striped table-bordered " width="100%" cellspacing="0">
                                <div class="col-lg-12 full-blue">Audit Log</div>
                                <thead>
                                    <tr class="fontlg">
                                        <td class="sel" id="User" onclick="showuserlogin()"><b>User Login</b></td>
                                        <td class="text-center" id="Cycle" onclick="showcyclerun()"><b>Cycle Run</b></td>
                                        <td class="sel" id="Admin" onclick="showadminchange()"><b>Admin Changes</b></td>
                                    </tr>
                                </thead>
                                <tbody id="userlogin">
                                    <tr class="hg90">
                                        <td>Search by User Id & IP</td>
                                        <td>Start Period&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End Period</td>
                                        <td>Login Status</td>
                                    </tr>
                                    <tr class="hg90">
                                        <td>
                                            <div style="width:auto; display:inline-block; margin-right:5px;">
                                                <input type="text" id="Txtsearch" style="width:auto" placeholder="User Id / Ip Address" />
                                            </div>
                                            <div style="display:inline-block;" class="btn3"><input type="button" onclick="SearchByIP()" value="Search" /></div>
                                        </td>
                                        <td>
                                            <div style="width:100%">
                                                <div style="width:auto; display:inline-block; margin-right:5px;">@Html.TextBox("Datepicker", "", new { @id = "txtstartdatepicker", @style = "width:150px;", placeholder = "Start Period" })</div>
                                                <div style="width: auto; display: inline-block; margin-right: 5px;">
                                                    @Html.TextBox("Datepicker", "", new { @id = "txtenddatepicker", @style = "width:150px;", placeholder = "End Period" })
                                            </div>
                                            <div style="display:inline-block;" class="btn4"><input type="button" onclick="SearchByDate()" value="Search" /></div>

                                        </div>
                                    </td>
                                    <td>
                                        @Html.DropDownList("FilterUser", new List<SelectListItem>

                 {
                    new SelectListItem{ Text="All", Value = "All" },
                    new SelectListItem{ Text="Success", Value = "Success" },
                    new SelectListItem{ Text="Fail", Value = "Fail" }
                 })
                                    </td>

                                </tr>

                            </tbody>

                                <tbody id="cyclerun">
                                <tr class="hg90">
                                    <td></td>
                                    <td>Start Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End Date</td>
                                    <td>Cycle ID</td>
                                </tr>
                                <tr class="hg90">
                                    <td></td>
                                    <td>
                                        <div style="width:100%">
                                            <div style="width:auto; display:inline-block; margin-right:5px;">@Html.TextBox("Datepicker", "", new { @id = "txtstartdatepicker1", @style = "width:150px;", placeholder = "Start Date" })</div>
                                            <div style="width: auto; display: inline-block; margin-right: 5px;">
                                                @Html.TextBox("Datepicker", "", new { @id = "txtenddatepicker1", @style = "width:150px;", placeholder = "End Date" })
                                            </div>
                                            <div style="display:inline-block;" class="btn4"><input type="button" onclick="SearchCycleByDate()" value="Search" /></div>

                                        </div>
                                    </td>
                                    <td>
                                        @Html.DropDownList("FilterCycle", ViewBag.CycleIdList as List<SelectListItem>)
                                    </td>

                                </tr>

                            </tbody>

                                <tbody id="adminchange">
                                <tr class="hg90">
                                    <td>Search by User Id & IP</td>
                                    <td>Start Period&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End Period</td>
                                    <td>Login Status</td>
                                </tr>
                                <tr class="hg90">
                                    <td>
                                        <div style="width:auto; display:inline-block; margin-right:5px;">
                                            <input type="text" id="Txtsearch" style="width:auto" />
                                        </div>
                                        <div style="display:inline-block;" class="btn3"><input type="button" onclick="SearchByIP()" value="Search" /></div>
                                    </td>
                                    <td>
                                        <div style="width:100%">
                                            <div style="width:auto; display:inline-block; margin-right:5px;">@Html.TextBox("Datepicker", "", new { @id = "txtstartdatepicker2", @style = "width:150px;" })</div>
                                            <div style="width: auto; display: inline-block; margin-right: 5px;">
                                                @Html.TextBox("Datepicker", "", new { @id = "txtenddatepicker2", @style = "width:150px;" })
                                            </div>
                                            <div style="display:inline-block;" class="btn4"><input type="button" onclick="SearchByDate()" value="Search" /></div>

                                        </div>
                                    </td>
                                    <td>
                                        @Html.DropDownList("FilterUser", new List<SelectListItem>

                 {
                    new SelectListItem{ Text="All", Value = "All" },
                    new SelectListItem{ Text="Success", Value = "Success" },
                    new SelectListItem{ Text="Fail", Value = "Fail" }
                 })
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="tab-pane" id="currency"> currency </div>
        <div class="tab-pane" id="rules"> Rules </div>
        <div class="tab-pane" id="data"> Data </div>
        <div class="tab-pane" id="security"> security </div>
    </div>
</div>
</div>
<div class="data-table">
    <div class="container-fluid">
        <div class="tax-code">
            <div class="data-tableconv">
                <div id="EmptyMessage" style="color:red;text-align:center"></div>
                <table id="UserLoginTable" class="table table-striped table-bordered " width="100%" cellspacing="0">
                    <thead>

                        <tr>
                            <th>Date & Time</th>
                            <th>User ID</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>IP Address</th>
                            <th>Login  Status</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody id="searchtable">
                        @if (ViewBag.AuditLog != null)
                        {
                            foreach (var item in ViewBag.AuditLog)
                            {
                                <tr>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.UserId</td>
                                    <td>@item.Name</td>
                                    <td>@item.Status</td>
                                    <td>@item.IpAddress</td>
                                    <td>@item.Message</td>
                                    <td>
                                        <ul class="action-button">
                                            <li>@Html.ActionLink("Export", "ExportData", new { Id = item.Id })</li>
                                            <li>@Html.ActionLink("Delete", "DeleteData", new { Id = item.Id, Page = "DeleteAuditLog" }, new { onclick = "return confirm('Are you sure you wish to delete this Audit Log?');" })</li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>


                </table>
                <!--<div class="col-md-5 col-sm-5 col-xs-12 cent-m">
                  <div class="col-md-6">
                    <div class="button-in"><input type="button" name="" value="Print User List"></div>
                  </div>
                  <div class="col-md-6">
                   <div class="button-in"><input type="button" name="" value="Export User List"></div>
                  </div>

                </div>-->
                <table id="cycleruntable" class="table table-striped table-bordered " width="100%" cellspacing="0">
                    <thead>

                        <tr>
                            <th>Date & Time</th>
                            <th>Cycle ID</th>
                            @*<th>Total Transactions</th>*@
                            <th>Status</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody id="cyclesearchtable">
                        @if (ViewBag.CycleList != null)
                        {
                            foreach (var item in ViewBag.CycleList)
                            {
                                <tr>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.CycleID</td>
                                    @*<td></td>*@
                                    <td>@item.Status</td>

                                    <td>
                                        <ul class="action-button">
                                            <li>@Html.ActionLink("Export", "ExportDataofCycle", new { Id = item.Id })</li>
                                            <li>@Html.ActionLink("Delete", "DeleteData", new { Id = item.Id, Page = "DeleteCycle" }, new { onclick = "return confirm('Are you sure you wish to delete this Cycle?');" })</li>
                                            <li>@Html.ActionLink("View", "CycleErrors", new { Id = item.CycleID })</li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>


                </table>

                <table id="AdminChangesTable" class="table table-striped table-bordered " width="100%" cellspacing="0">
                    <thead>

                        <tr>
                            <th>123</th>
                            <th>User ID</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>IP Address</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody id="searchtable">
                        @if (ViewBag.AuditLog != null)
                        {
                            foreach (var item in ViewBag.AuditLog)
                            {
                                <tr>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.UserId</td>
                                    <td>@item.Name</td>
                                    <td>@item.Status</td>
                                    <td>@item.IpAddress</td>
                                    <td>@item.Message</td>
                                    <td>
                                        <ul class="action-button">
                                            <li>@Html.ActionLink("Export", "ExportData", new { Id = item.Id })</li>
                                            <li>@Html.ActionLink("Delete", "DeleteData", new { Id = item.Id, Page = "DeleteAuditLog" }, new { onclick = "return confirm('Are you sure you wish to delete this Audit Log?');" })</li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>


                </table>
            </div>
        </div>
    </div>
</div>
@*<div id="Pageing">
    <div class="pagination-footer">
        <div class="container-fluid">
            <div class="col-md-4 item-par">
                <form action="" id="PageingForm" method="get">
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                @{
                                    List<SelectListItem> ddPagination = new List<SelectListItem>();
                                    for (int i = 1; i <= 10; i++)
                                    {
                                        int j = i * 5;
                                        int pagesize = Convert.ToInt32(TempData["pagesize"]);
                                        if (pagesize == j)
                                        {
                                            ddPagination.Add(new SelectListItem { Value = j.ToString(), Text = j.ToString(), Selected = true });
                                        }
                                        else
                                        {
                                            ddPagination.Add(new SelectListItem { Value = j.ToString(), Text = j.ToString() });
                                        }
                                    }

                                    @Html.DropDownList("DDlPageingsize", ddPagination as List<SelectListItem>, new { onchange = "this.form.submit();" });
                                }
                            </td>
                            <td><span>Items Per Page</span></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div id="UserPageing">
                <div class="col-md-4 item-page">
                    <ul>
                        @Html.PagedListPager((IPagedList)ViewBag.AuditLog, page => Url.Action("AuditLog", new { page, pagesize = TempData["pagesize"] }))
                    </ul>
                </div>
                <div class="col-md-3 item-of-page">
                    <p>@(ViewBag.AuditLog.PageCount < ViewBag.AuditLog.PageNumber ? 0 : ViewBag.AuditLog.PageNumber) of @ViewBag.AuditLog.PageCount items <a href="/Admin/AuditLog"><span class="glyphicon glyphicon-repeat"></span></a> </p>
                </div>
            </div>
            <div id="CyclePageing">
                <div class="col-md-4 item-page">
                    <ul>
                        @Html.PagedListPager((IPagedList)ViewBag.AuditLog, page => Url.Action("AuditLog", new { page, pagesize = TempData["pagesize"] }))
                    </ul>
                </div>
                <div class="col-md-3 item-of-page">
                    <p>@(ViewBag.AuditLog.PageCount < ViewBag.AuditLog.PageNumber ? 0 : ViewBag.AuditLog.PageNumber) of @ViewBag.AuditLog.PageCount items <a href="/Admin/AuditLog"><span class="glyphicon glyphicon-repeat"></span></a> </p>
                </div>
            </div>
            <div id="AdminPageing">
                <div class="col-md-4 item-page">
                    <ul>
                        @Html.PagedListPager((IPagedList)ViewBag.AuditLog, page => Url.Action("AuditLog", new { page, pagesize = TempData["pagesize"] }))
                    </ul>
                </div>
                <div class="col-md-3 item-of-page">
                    <p>@(ViewBag.AuditLog.PageCount < ViewBag.AuditLog.PageNumber ? 0 : ViewBag.AuditLog.PageNumber) of @ViewBag.AuditLog.PageCount items <a href="/Admin/AuditLog"><span class="glyphicon glyphicon-repeat"></span></a> </p>
                </div>
            </div>
        </div>
    </div>
</div>*@

<script>

    //Search Audit
    function SearchByIP() {
        var userid = $("#Txtsearch").val();
        $.ajax({
            type: 'POST',
            url: "/Admin/SearchAuditLogByUserId_Ip",
            dataType: 'json',
            data: { id: userid },
            success: function (response) {
                var target = $("#searchtable");
                target.empty();
                if (response.length != 0) {
                    $("#Pageing").show();
                    document.getElementById("EmptyMessage").innerHTML = "";
                    for (var i = 0; i < response.length; i++) {
                        var data = response[i];

                        target.append("<tr><td>" + data.CreatedDate + "</td><td>"
                        + data.UserId + "</td><td>" + data.Name + "</td><td>"
                        + data.Status + "</td><td>" + data.IpAddress + "</td><td>" + data.Message
                        + "</td><td><ul class='action-button'><li>"
                        + "<a href='/Admin/ExportData/" + data.Id + "'>Export</a>"
                         + "</li><li class='confirmation' id=" + data.Id + " onclick='getdata(this.id)'>" + "<a href='javascript:void(0)'>Delete</a>"
                          + "</li></td></tr>");
                    }
                }
                else {
                    document.getElementById("EmptyMessage").innerHTML = "No Record Found";
                    $("#Pageing").hide();

                }
            },
            error: function (ex) {
                // alert('Failed to retrieve states.' + ex);
            }
        });
        return false;
    };
    $("#FilterUser").change(function () {
        $.ajax({
            type: 'POST',
            url: "/Admin/SearchAuditLogByUserId_Ip",
            dataType: 'json',
            data: { id: $("#FilterUser").val() },
            success: function (response) {
                var target = $("#searchtable");
                target.empty();
                if (response.length != 0) {
                    $("#Pageing").show();
                    document.getElementById("EmptyMessage").innerHTML = "";
                    for (var i = 0; i < response.length; i++) {
                        var data = response[i];

                        target.append("<tr><td>" + data.CreatedDate + "</td><td>"
                        + data.UserId + "</td><td>" + data.Name + "</td><td>"
                        + data.Status + "</td><td>" + data.IpAddress + "</td><td>" + data.Message
                        + "</td><td><ul class='action-button'><li>"
                        + "<a href='/Admin/ExportData/" + data.Id + "'>Export</a>"
                         + "</li><li class='confirmation' id=" + data.Id + " onclick='getdata(this.id)'>" + "<a href='javascript:void(0)'>Delete</a>"
                          + "</li></td></tr>");
                    }
                }
                else {
                    document.getElementById("EmptyMessage").innerHTML = "No Record Found";
                    $("#Pageing").hide();
                }
            },
            error: function (ex) {
                $("#systemlist").empty();
            }
        });
        return false;
    })
    function SearchByDate() {
        var StartDate = $("#txtstartdatepicker").val()
        var EndDate = $("#txtenddatepicker").val()
        $.ajax({
            type: 'POST',
            url: "/Admin/SearchAuditLogByDate",
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            async: false,
            data: "{'StartDate':'" + StartDate + "','EndDate':'" + EndDate + "'}",
            success: function (response) {
                var target = $("#searchtable");
                target.empty();
                if (response.length != 0) {
                    document.getElementById("EmptyMessage").innerHTML = "";
                    $("#Pageing").show();

                    for (var i = 0; i < response.length; i++) {
                        var data = response[i];
                        target.append("<tr><td>" + data.CreatedDate + "</td><td>"
                        + data.UserId + "</td><td>" + data.Name + "</td><td>"
                        + data.Status + "</td><td>" + data.IpAddress + "</td><td>" + data.Message
                        + "</td><td><ul class='action-button'><li>"
                        + "<a href='/Admin/ExportData/" + data.Id + "'>Export</a>"
                         + "</li><li class='confirmation' id=" + data.Id + " onclick='getdata(this.id)'>" + "<a href='javascript:void(0)'>Delete</a>"
                          + "</li></td></tr>");
                    }
                }
                else {
                    $("#Pageing").hide();
                    document.getElementById("EmptyMessage").innerHTML = "No Record Found";
                    var target = $("#searchtable");
                    target.empty();
                }
            },
            error: function (ex) {
                $("#systemlist").empty();
            }
        });
        return false;
    }
    //Search Audit End
    //Search Cycle
    $("#FilterCycle").change(function () {
        $.ajax({
            type: 'POST',
            url: "/Admin/SearchCycleByCycleId",
            dataType: 'json',
            data: { id: $("#FilterCycle").val() },
            success: function (response) {
                var target = $("#cyclesearchtable");
                target.empty();
                if (response.length != 0) {
                    $("#Pageing").show();
                    document.getElementById("EmptyMessage").innerHTML = "";
                    for (var i = 0; i < response.length; i++) {
                        var data = response[i];
                        var Date = ToJavaScriptDate(data.CreatedDate);
                        var Id = data.CycleID;
                        target.append("<tr><td>" + Date + "</td><td>"
                        + data.CycleID + "</td><td>"
                        + data.Status + "</td><td><ul class='action-button'><li>"
                        + "<a href='/Admin/ExportDataofCycle/" + data.Id + "'>Export</a>"
                         + "</li><li class='confirmation' id=" + data.Id + " onclick='DeleteCycledata(this.id)'>" + "<a href='javascript:void(0)'>Delete</a>"
                          + "</li><li>"
                        + "<a href='/Admin/CycleErrors/" + Id + "'>View</a>"
                         + "</li></td></tr>");
                    }
                }
                else {
                    document.getElementById("EmptyMessage").innerHTML = "No Record Found";
                    $("#Pageing").hide();
                }
            },
            error: function (ex) {
                $("#systemlist").empty();
            }
        });
        return false;
    })
    function SearchCycleByDate() {
        var StartDate = $("#txtstartdatepicker1").val()
        var EndDate = $("#txtenddatepicker1").val()
        $.ajax({
            type: 'POST',
            url: "/Admin/SearchCycleByDate",
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            async: false,
            data: "{'StartDate':'" + StartDate + "','EndDate':'" + EndDate + "'}",
            success: function (response) {
                var target = $("#cyclesearchtable");
                target.empty();
                if (response.length != 0) {
                    document.getElementById("EmptyMessage").innerHTML = "";
                    $("#Pageing").show();

                    for (var i = 0; i < response.length; i++) {
                        var data = response[i];
                        var Id = data.CycleID;

                        var Date=ToJavaScriptDate(data.CreatedDate);
                        
                        target.append("<tr><td>" + Date + "</td><td>"
                        + data.CycleID + "</td><td>"
                        + data.Status + "</td><td><ul class='action-button'><li>"
                        + "<a href='/Admin/ExportDataofCycle/" + data.Id + "'>Export</a>"
                         + "</li><li class='confirmation' id=" + data.Id + " onclick='DeleteCycledata(this.id)'>" + "<a href='javascript:void(0)'>Delete</a>"
                          + "</li><li>"
                        + "<a href='/Admin/CycleErrors/" + Id + "'>View</a>"
                         + "</li></td></tr>");
                    }
                }
                else {
                    $("#Pageing").hide();
                    document.getElementById("EmptyMessage").innerHTML = "No Record Found";
                    var target = $("#cyclesearchtable");
                    target.empty();
                }
            },
            error: function (ex) {
                $("#systemlist").empty();
            }
        });
        return false;
    }
    //Search Cycle End
    $(function () {
        $("#txtstartdatepicker").datepicker();
    });
    $(function () {
        $("#txtenddatepicker").datepicker();
    });
    $(function () {
        $("#txtstartdatepicker1").datepicker();
    });
    $(function () {
        $("#txtenddatepicker1").datepicker();
    });
    $(function () {
        $("#txtstartdatepicker2").datepicker();
    });
    $(function () {
        $("#txtenddatepicker2").datepicker();
    });
    function getdata(Id) {
        if (confirm('Are you sure you wish to delete this Audit Log?')) {
            window.location = "/Admin/DeleteData/" + Id + "?Page=DeleteAuditLog";
        } else {
        }
    }
    function DeleteCycledata(Id) {
        if (confirm('Are you sure you wish to delete this Cycle?')) {
            window.location = "/Admin/DeleteData/" + Id + "?Page=DeleteCycle";
        } else {
        }
    }

    function showcyclerun() {
        $("#User").removeClass("activeclass"); $("#Cycle").addClass("activeclass"); $("#Admin").removeClass("activeclass");
        document.getElementById("userlogin").hidden = true;
        document.getElementById("cyclerun").hidden = false;
        document.getElementById("adminchange").hidden = true;
        document.getElementById("cycleruntable").hidden = false; 
        document.getElementById("UserLoginTable").hidden = true;
        document.getElementById("AdminChangesTable").hidden = true;
    }
    function showuserlogin() {
        $("#User").addClass("activeclass"); $("#Cycle").removeClass("activeclass"); $("#Admin").removeClass("activeclass");
        document.getElementById("userlogin").hidden = false;
        document.getElementById("cyclerun").hidden = true;
        document.getElementById("adminchange").hidden = true;
        document.getElementById("cycleruntable").hidden = true;
        document.getElementById("UserLoginTable").hidden = false;
        document.getElementById("AdminChangesTable").hidden = true;
    }
    function showadminchange() {
        $("#User").removeClass("activeclass"); $("#Cycle").removeClass("activeclass"); $("#Admin").addClass("activeclass");
        document.getElementById("userlogin").hidden = true;
        document.getElementById("cyclerun").hidden = true;
        document.getElementById("adminchange").hidden = false;
        document.getElementById("cycleruntable").hidden = true;
        document.getElementById("UserLoginTable").hidden = true;
        document.getElementById("AdminChangesTable").hidden = false;
    }
    $(document).ready(function () {
        document.getElementById("userlogin").hidden = false;
        $("#User").addClass("activeclass");
        document.getElementById("cyclerun").hidden = true;
        document.getElementById("adminchange").hidden = true;
        document.getElementById("cycleruntable").hidden = true;
        document.getElementById("AdminChangesTable").hidden = true;
    });

    function ToJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
    }
</script>
<style>
    .activeclass {
        background: url("/Content/images/hover.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
        color: #f8faff;
    }
</style>


