
  
    <title>Gstdatamart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>

    <!-- Bootstrap -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/lessframe.css" rel="stylesheet" />



@model GST_BLL.DTO.LdapUserModel

@using (Html.BeginForm("CreateLDAPUser", "Admin", FormMethod.Post, new { id = "submitForm" }))
{
    @Html.ValidationSummary(true)
   
        <div id="wrapper" class="clearfix">
            <!--[header]-->
            <div id="header">
                <div class="container-fluid">
                    <div id="logo">
                        <a href="#">
                            <img src="/Content/images/logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="admin-login">
                        <div class="admin-wel">
                            <ul>
                                <li>Welcome <a href="#">Administrator</a> </li>
                                <li>01 June <strong>2014,</strong> 10:00 AM</li>
                            </ul>
                            <!--<span>Company ID </span> -->
                        </div>
                        @*  <div class="login">  </div>*@

                        <div class="login">

                            <a href="#" onclick="Logout();">Logout <i class="fa fa-power-off"></i></a>
                        </div>
                    </div>
                </div>

                <!--[nav-bar]-->
                <nav class="navbar navbar-default" role="navigation">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/Admin/CreateUser"><i class="glyphicon glyphicon-home"></i>Dashboard</a></li>
                            @*<li><a href="purchasing Data.html"><i class="fa fa-line-chart"></i>Reports</a></li>
                                <li><a href="gaf-file.html"><i class="fa fa-file-archive-o"></i>GAF File</a></li>*@
                            <li><a href="/Admin/IpAddress"><i class="fa fa-cog"></i>Settings</a></li>
                        </ul>
                        <div class="form-group">

                            <ol>


                                <li>
                                    <input type="text" class="form-control" placeholder="Search">
                                </li>
                            </ol>
                        </div>
                        <a href="#" class="grup"><span class="glyphicon glyphicon-align-justify"></span></a>
                    </div>
                </nav>
                <!--[/nav-bar]-->
            </div>
            <!--[/header]-->
            <!--[]-->


            <div class="data-feed">
                <ul class="nav nav-tabs">
                    <li>@Html.ActionLink("Ip Address", "IpAddress", "Admin")</li>
                    <li>@Html.ActionLink("Admin Path", "AdminPath", "Admin")</li>
                    <li><a href="/Admin/CreateUser">Create User</a></li>
                    <li><a href="/Admin/CreateLDAPUser">Create LDAP User</a></li>
                    <li><a href="/Admin/TAXCODE">TAX CODE</a></li>
                </ul>
            </div>



            <form action="" method="get" class="serch">
                <div id="centre-coloum">
                    <div class="col-md-6">
                        <label>Category ID :</label>
                        @Html.HiddenFor(model => model.Id, new { @class = "form-control"  })
                        @Html.TextBoxFor(model => model.ComapanyId, new { @class = "form-control"})
                        <p id="ValidateCategoryId" style="color:red"></p>
                        <label>Domain Name :</label>
                        @Html.TextBoxFor(model => model.Domainname, new { @class = "form-control", @onkeypress = "return vaildateport();" })
                        <p id="ValidateDomainname" style="color:red"></p>

                        <label>Port Number :</label>
                        @Html.TextBoxFor(model => model.Portnumber, new { @class = "form-control", @onkeypress = "return IsNumeric(event);" })
                        <p id="ValidatePortNumber" style="color:red"></p>

                        <label>User Id :</label>
                        @Html.TextBoxFor(model => model.UserId, new { @class = "form-control"})
                        <p id="ValidateUserId" style="color:red"></p>

                        <label>Password :</label>
                        @Html.TextBoxFor(model => model.password, new { @class = "form-control", @onkeypress = "return IsSpecialcharacter(event);" })
                        <p id="ValidatePassword" style="color:red"></p>

                        <div class="button"><input type="submit" onclick="SubmitForm()" name="" value="Create"></div>


                        
                    </div>

                    <div id="sucess" style="color:green;font:14px arial" align="center"> @TempData["Sucess"]</div>
                    <div id="error" style="color:red;font:14px arial" align="center"> @TempData["Error"]</div>
                </div>


            </form>


            <div class="data-table">
                <div class="container-fluid">

                    <table id="example" class="table table-striped table-bordered " width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>CompanyID </th>
                                <th>Domain Name </th>
                                <th>Port Number  </th>
                                <th>User ID  </th>
                                <th>Password  </th>
                                <th>Action  </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.LDAPUSERS != null)
                            {
                                foreach (var item in ViewBag.LDAPUSERS)
                                {
                                    <tr>
                                        <td>@item.ComapanyId</td>
                                        <td>@item.Domainname</td>
                                        <td>@item.Portnumber </td>
                                        <td>
                                            @item.UserId
                                        </td>
                                        <td>
                                            @item.password
                                        </td>
                                        <td>
                                            <ul class="action-button">
                                                <li>
                                                    @Html.ActionLink("Edit", "EditLDAPUser", new { id = item.Id })
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Delete", "DeleteLDAPUser", new { id = item.Id })
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>


                </div>

            </div>

        </div>



        <script>

            function SubmitForm() {
                $('#submitForm').submit(function () {
                   
                    document.getElementById("ValidateCategoryId").innerHTML = "";
                    document.getElementById("ValidateDomainname").innerHTML = "";
                    document.getElementById("ValidatePortNumber").innerHTML = "";
                    document.getElementById("ValidateUserId").innerHTML = "";
                    document.getElementById("ValidatePassword").innerHTML = "";
                    if (Checkvalidation() == false) {
                        return false;
                    }
                });
            }


            function Checkvalidation() {
                var count = 0;
                var CategoryId = document.getElementById("ComapanyId").value;
                var Domainname = document.getElementById("Domainname").value;
                var Portnumber = document.getElementById("Portnumber").value;
                var UserId = document.getElementById("UserId").value;
                var password = document.getElementById("password").value;
                if (CategoryId == "") {
                    document.getElementById("ValidateCategoryId").innerHTML = "Please Enter CategoryID";
                    $('#ComapanyId').focus();
                    count = 1;
                }
                if (Domainname == "") {
                    document.getElementById("ValidateDomainname").innerHTML = "Please Enter Domain Name";
                    $('#Domainname').focus();
                    count = 1;
                }
                if (Portnumber == "") {

                    document.getElementById("ValidatePortNumber").innerHTML = "Please Enter PortNumber.";
                    $('#Portnumber').focus();
                    count = 1;
                }




                if (UserId == "") {

                    document.getElementById("ValidateUserId").innerHTML = "Please Enter UserID.";
                    $('#UserId').focus();
                    count = 1;
                }
                if (password == "") {

                    document.getElementById("ValidatePassword").innerHTML = "Please Enter Password.";
                    $('#Password').focus();
                    count = 1;
                }
                if (count == 1) {
                    return false;
                }
            }


            var specialKeys = new Array();
            specialKeys.push(8);


            specialKeys.push(9);
            function IsNumeric(e) {
                var keyCode = e.which ? e.which : e.keyCode
                var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);

                return ret;
            }
            //function vaildateport() {

            //    var Domainname = document.getElementById("Domainname").value;
            //    if (Domainname.value.c) {

            //        return true;
            //    }
            //    else {
            //        document.getElementById("ValidateDomainname").innerHTML = " Enter valid Domain Name";
                  
            //        return false;
            //    }
            //}

        </script>

}
